/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "compass/css3/user-interface";
@import url(http://fonts.googleapis.com/css?family=Play);

body {
	font-family: 'Play', sans-serif;
	@include user-select(none);
	background: url('../tiny_grid.png');
}

body, svg {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
}

aside {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: auto;
	overflow: scroll;
	z-index: 2;
}

.box {
	width: 220px;
	margin: 8px;
	padding: 8px;
	text-align: center;
	background: #eee;
	border: 1px #bbb solid;
	@include border-radius(6px);
}

#controls {
	@extend .box;

	label, span.val {
		width: 30px;
		display: inline-block;
		line-height: 30px;
	}

	label.algo {
		width: 130px;
		text-align: left;
	}

	span.val.changing {
		opacity: .5;
	}
}

#stats {
	@extend .box;

	span {
		display: inline-block;
		font-size: 11px;
		line-height: 24px;
		width: 50%;
	}

	#rewireVal {
		display: none;
		
		&.visible {
			display: inline-block;
		}

	}

}

#avpathlength {
	@extend .box;

	span {
		display: block;
		font-size: 11px;
		line-height: 24px;
	}

}

#randomness {
	@extend .box;
}

#steps {
	display: none;
	
	&.visible {
		display: block;
	}

}

#help {
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 11px;
}

#degreeChart {
	position: absolute;
	top: 0;
	right: 0;
}

.boxTitle {
	background: #000;
	color: #fff;
	line-height: 24px;
	margin-bottom: 6px;
	@include border-top-left-radius(3px);
	@include border-top-right-radius(3px);
}

.desc {
	font-size: 10px;
	display: block;
	margin: 6px 0;
}

#info {
	border: 1px #bbb solid;
	padding: 8px;
	@include border-radius(6px);
	position: absolute;
	bottom: 50px;
	left: 50%;
	background: #eee;
	@include box-shadow(0 0 25px #ccc);
	font-size: 12px;
	text-align: center;
	opacity: 0;
	overflow: hidden;
	width: 150px;
	white-space: nowrap;
	margin-left: -75px;

	&.node {
		opacity: 1.0;
		width: 150px;
		bottom: 60px;
		@include transition(all .5s ease-out);
	}

	&.path {
		opacity: 1.0;
		margin-left: -175px;
		width: 350px;
		bottom: 60px;
		@include transition(all .5s ease-out);
	}

}

#fullScreen {
	background: no-repeat center center #ccc;
	display: block;
	width: 24px;
	cursor: pointer;
	height: 24px;
	position: absolute;
	bottom: 15px;
	right: 15px;
	@include border-radius(6px);
	border: 1px #666 solid;
	@include transition(all .5s ease-out);
	z-index: 9999;

	&.enter {
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA0ElEQVQ4T7WTQQrCQAxFp3iAHlU3BUtFUSp1qUf1AKJ5YuA3ZtwUA1k0M3lJ/qRNKeVpHu1igT4Ej/a9jxebBHC22C6BEprMt3qWAQ524bQEQG4G+arORe+Aiq35WiorJCaj0cN8AIA4XMauAgHqceYGgqnAI4BoQO6S7OdA6HL2OhkgYdZDfwGwLIxwC3W7zwizHaGDwZzlwUhGVGwjkJqInT8j1JUkA6ADIFj2jHQ5ZZsYk32Sn4uk42rlIMPyf0G1eMNrI7AsbJwaYo+xpRdMcTUAVb/KIwAAAABJRU5ErkJggg==);
	}

	&.exit {
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA70lEQVQ4T42T4QoBURCF7Yt4OvlFNiIb2YiIbKSU1/MGfvmlnG/bZay5y9S0986cc+7OnblR4217La/yo4l5y5mCTXmLZFQgtvoOi3VcIzJWbl3gOChGgAAJa54IB3CQtQwBLwHIivS1p8SqJWUJIQAi2MEjK7YpBch35CcH6IUSyCSsAPu2/PJD5EX2BH6JfJBDAvR5HviLkeI7m6uWABGBOguWsBRr8uclToVb2RJC5K5AD/nZEc5FQpMIfiDPCmJPX28WUgToPTNg7eu2lfSGLX8LmBVJtV8E7sI+pnzUbRd4KHc5AnVGl26QAT0Bjv0wA+15arUAAAAASUVORK5CYII=);
	}

	&.hidden {
		display: none;
	}

	&:hover {
		@include transform(scale(1.1));
	}

}

circle {
	cursor: pointer;
}

@for $i from 1 through 30 {
	.path-step-#{$i} {
		@include transition(all .5s ease-out #{$i/2}s);
		stroke: red;
	}
}