/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "compass/css3/user-interface";
@import url(http://fonts.googleapis.com/css?family=Play);

body {
	font-family: 'Play', sans-serif;
	@include user-select(none);
	background: url('../tiny_grid.png');
}

body, svg {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
}

aside {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: auto;
	overflow: scroll;
	z-index: 2;
}

.box {
	width: 220px;
	margin: 8px;
	padding: 8px;
	text-align: center;
	background: #eee;
	border: 1px #bbb solid;
	@include border-radius(6px);
}

#controls {
	@extend .box;

	label, span.val {
		width: 30px;
		display: inline-block;
		line-height: 30px;
	}

	label.algo {
		width: 130px;
		text-align: left;
	}
}

#stats {
	@extend .box;

	span {
		display: inline-block;
		font-size: 11px;
		line-height: 24px;
		width: 50%;
	}

	#rewireVal {
		display: none;
		
		&.visible {
			display: inline-block;
		}

	}

}

#avpathlength {
	@extend .box;

	span {
		display: block;
		font-size: 11px;
		line-height: 24px;
	}

}

#randomness {
	@extend .box;
}

#steps {
	display: none;
	
	&.visible {
		display: block;
	}

}

#help {
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 11px;
}

#degreeChart {
	position: absolute;
	top: 0;
	right: 0;
}

.boxTitle {
	background: #000;
	color: #fff;
	line-height: 24px;
	margin-bottom: 6px;
	@include border-top-left-radius(3px);
	@include border-top-right-radius(3px);
}

.desc {
	font-size: 10px;
	display: block;
	margin: 6px 0;
}

#info {
	border: 1px #bbb solid;
	padding: 8px;
	@include border-radius(6px);
	position: absolute;
	bottom: 75px;
	left: 50%;
	background: #eee;
	box-shadow: 0 0 25px #ccc;
	font-size: 12px;
	text-align: center;
	display: none;

	&.node {
		display: block;
		margin-left: -100px;
		width: 200px;
	}

	&.path {
		display: block;
		margin-left: -200px;
		width: 400px;
	}

}

circle {
	cursor: pointer;
}